* {
    margin: 0px;
    padding: 0;
}

html, body {margin: 0; height: 100%; min-height: 100%;}

body {
    background-color: #2b2b2b;
}

#pic1 {
    border: 5px solid #ffffff;
    width: 30%;
    margin-top: 100px;
    right: 150px;
    position: fixed;
    float: right;
    transform: rotate(10deg);
    animation: pic1animation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

#pic2 {
    border: 5px solid #ffffff;
    width: 25%;
    margin-top: 100px;
    right: 20px;
    position: fixed;
    float: right;
    transform: rotate(20deg);
    animation: pic2animation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

#pic3 {
    border: 5px solid #ffffff;
    width: 25%;
    margin-top: 100px;
    right: 250px;
    position: fixed;
    float: right;
    transform: rotate(-20deg);
    animation: pic3animation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}

@keyframes pic1animation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(10deg);}
}
@keyframes pic2animation {
    0% {transform: rotate(0deg); right: 150px;}
    100% {transform: rotate(20deg);right: 20px;}
}
@keyframes pic3animation {
    0% {transform: rotate(0deg); right:150px;}
    100% {transform: rotate(-20deg);right:250px;}
}
#yellow{
    width: 30%;
    position: fixed;
    left: 0;
    top: 0;
}

#orange {
    width: 50%;
    top: 20%;
    left: 25%;
    position: fixed;

}

#blue{
    width: 50%;
    position: fixed;
    right: 0;
    bottom: 0;
}


/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
    .hamburger {
        display: none;
    }

}



nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 10px 10px;
    overflow: hidden;
    text-align: center;
}
  
nav ul li {
    float: left;
}
  
nav ul li a {
    display: inline-block;
    color: white;
    font-family: "Lato";
    font-size: 18px;
    text-align: center;
    padding: 50px;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #E94560;
    transition: 0.3s;
}

h1 {
    display: block;
    color: white;
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 75px;

    width: 60%;
    height: 100%;
    position: relative;

    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 10px;
}

p {
    display: block;
    color: white;
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    width: 50%;
    height: 100%;
    position: relative;

    margin: 10px 150px;
}

button:focus {
    outline: none;
}

.buttons {
    position: relative;
    
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 150px;

    display: inline-block;
    justify-content: space-around;
}

.Join-button {
    position: relative;
    display: block;
    width: 103px;
    height: 49px;

    font-family: "Lato";
    font-size: 18px;
    color: white;

    background-color: #E94560;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.Join-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0px 15px #E94560;
    transition: 0.3s;  
}

.Join-button-2 {
    display: none;
}

.Upcoming-events {
    position: relative;
    width: 185px;
    height: 86px;
    border-radius: 6px;

    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #F5F9FC;

    background-color: #E94560;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.Upcoming-events:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0px 25px #E94560;
    transition: 0.3s; 
}

.Explore-projects {
    position: relative;
    width: 185px;
    height: 86px;

    border-radius: 6px;

    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #F5F9FC;

    background: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #f5f9fc;
    border-width: 2px;
    cursor: pointer;
    margin-left: 50px;
    transition: 0.3s;
}

.Explore-projects:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0px 25px rgba(255, 255, 255, .4);
    transition: 0.3s;
}

.contact-form iframe {
    margin: 5px auto;
    width: 100%;
    height: 970px;
    border: none;
}

.contact-form iframe:focus {
    outline: none;
    overflow: hidden;
}

.contact-form iframe[seamless] {
    display: block;
}

.join-form iframe {
    margin: 5px auto;
    width: 100%;
    height: 1420px;
    border: none;
}

.join-form iframe:focus {
    outline: none;
    overflow: hidden;
}

.join-form iframe[seamless] {
    display: block;
}

.hamburger {
    background-color: transparent;
    color: #E94560;
    border: 0;
    font-size: 36px;
    cursor: pointer;
}

.hamburger:focus {
    outline: none;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;  
    display: flex;
;}

footer p {
    font-family: "Varela Round";
    font-size: 14px;
}

.people {
    display: flex;
    margin: 50px auto;
}

.title_about h1{
    background: #E94560;
    box-shadow: 0 0px 15px #E94560;
    position: relative;
    text-align: center;
    line-height: 300px;
    margin: 50px auto;
    width: 100%;
    height: 300px;
}

.title_contact h1{
    background: #E94560;
    box-shadow: 0 0px 15px #E94560;
    position: relative;
    text-align: center;
    line-height: 300px;
    margin: 50px auto;
    width: 100%;
    height: 300px;
}

.title_events h1{
    background: #E94560;
    box-shadow: 0 0px 15px #E94560;
    position: relative;
    text-align: center;
    line-height: 300px;
    margin: 50px auto;
    width: 100%;
    height: 300px;
}

h2 {
    font-family: "Varela Round";
    font-size: 20px;
    color: white;
}

.person_1 {
    position: relative;
    text-align: center;
    margin: 20px auto;
}
.intro1 {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.person_1 img:hover {
    color: rgba(255, 255, 255, 1);
    filter: none;
    transition: 0.3s;
}

.person_1 img {
    width: 20%;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.3s;  
}


.person_1 img:hover .intro1{
    visibility: visible;
}

.person_1 p {
    display: block;
    position: relative;
    margin: 0px auto;
    font-family: "Varela Round";
    font-size: 16px;
}

.person_2 {
    position: relative;
    text-align: center;
    margin: 20px auto;
}
.person_2 img {
    width: 50%;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.3s;  
}
.person_2 img:hover {
    color: rgba(255, 255, 255, 1);
    filter: none;
    transition: 0.3s;  
}
.person_2 p {
    display: block;
    position: relative;
    margin: 0px auto;
    font-family: "Varela Round";
    font-size: 16px;
}

.Execs p:hover {
    color: #E94560;
}
/*Small Device - change nav bar to hamburger*/
@media only screen and (max-width: 992px) {
    .hero_pictures {
        display: block;
        position: relative;
    }
    #pic1 {
        width: 30%;
        margin-top: 250px;
        right: 10px;
        position: fixed;
        float: right;
        transform: rotate(10deg);
        animation: pic1animation;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }
    
    #pic2 {
        width: 25%;
        margin-top: 50px;
        right: 30px;
        position: fixed;
        float: right;
        transform: rotate(20deg);
        animation: pic2animation;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }
    
    #pic3 {
        width: 25%;
        margin-top: 450px;
        right: 50px;
        position: fixed;
        float: right;
        transform: rotate(-20deg);
        animation: pic3animation;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }

    @keyframes pic1animation {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(10deg);}
    }
    @keyframes pic2animation {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(20deg);}
    }
    @keyframes pic3animation {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(-20deg);right:50px;}
    }
    nav {
        margin: 10px 10px;
    }
    .Join-button {
        display: none;
    }
    .nav-ul {
        display: none;
        width: 100%;
        flex-direction: column;
        color: white;
    }

    .nav-ul.show {
        display: flex;
        background-color:  #E94560;
        backdrop-filter: blur(5px);
        border-radius: 6px;
    }

    .hamburger {
        display: block;
    }
    
    .Join-button-2 {
        margin-top: 50px;
        margin-bottom: 25px;

        display: block;
        position: relative;
        width: 100%;
        height: 86px;
        border-radius: 6px;
    
        font-family: "Varela Round";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #F5F9FC;
    
        background-color: #E94560;
        border: none;
    
        transition: 0.3s;
    }
}

/* Extra small devices (phones, 600px and down)*/ 
@media only screen and (max-width: 600px) {
    .hero_pictures {
        display: block;
        position: relative;
    }
    #pic1 {
        display: none;
    }
    
    #pic2 {
        display: none;
    }
    
    #pic3 {
       display: none;
    }
    .logo img {
        width: 150px;
        height: auto;
    }

    h1{
        font-size: 32px;
        width: 100%;
        height: 100%;
        margin: 20px auto;
        display: block;
        text-align: center;
    }

    p {
        font-size: 18px;
        width: 100%;
        height: 100%;
        display: block;
        margin: 10px auto;
        text-align: center;
    }

    .buttons {
        position: relative;
        margin: 15px 30px;
        display: block;
    }
   
    .Upcoming-events {
        display: block;
        position: relative;
        width: 100%;
        height: 86px;
        border-radius: 6px;
    
        font-family: "Varela Round";
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #F5F9FC;
    
        background-color: #E94560;
        border: none;
    
        transition: 0.3s;
    }

    .Explore-projects {
        margin: 20px 0px;
        display: block;
        position: relative;
        width: 100%;
        height: 86px;
        border-radius: 6px;
    
        font-family: "Varela Round";
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #F5F9FC;
    
        background: none;
        border-radius: 6px;
        border-style: solid;
        border-color: #f5f9fc;
        border-width: 2px;
    
        transition: 0.3s;
    }

    .join-form iframe {
        display: inline-block;
        margin: 5px auto;
        width: 100%;
        height: 1600px;
        border: none;
    }
   
}
.cards {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.card {
    justify-content: left;
    display: inline-block;                                                                                                             
    max-width: 300px;
    margin: 50px 150px;
    text-align: center;
}

.card h2 {
    color: whitesmoke;
    margin: 20px auto;
}

  
/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...}*/

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}*/

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}*/